{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'employee/img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'employee/img/favicon.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    เข้าสู่ระบบศูนย์เมล็ดพันธุ์ข้าวแพร่
  </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prompt:300" rel="stylesheet">
    <!-- CSS Files -->
  <link href="{% static 'employee/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'employee/css/paper-dashboard.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static 'employee/demo/demo.css' %}"  rel="stylesheet" />
</head>

<body class="" style="font-family: 'Prompt', sans-serif;">
<div class="wrapper ">
    <div class="sidebar" data-color="black" data-active-color="danger">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
      -->
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text logo-mini">
                <div class="logo-image-small">
                    <img src="../assets/img/logo-small.png">
                </div>
            </a>
            <a href="http://www.creative-tim.com" class="simple-text logo-normal">

                <!-- <div class="logo-image-big">
                  <img src="../assets/img/logo-big.png">
                </div> -->
            </a>
        </div>
        <div class="sidebar-wrapper ps-container ps-theme-default">
            <div class="user">
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
              <span>
                Chet Faker
                <b class="caret"></b>
              </span>
                    </a>
                    <div class="clearfix"></div>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="http://127.0.0.1:8000/employee/user">
                                    <span class="sidebar-mini-icon"><i class="nc-icon nc-badge"></i></span>
                                    <span class="sidebar-normal">ข้อมูลส่วนตัว</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <li class="active">
                    <a href="http://127.0.0.1:8000/employee/homedashboard">
                        <i class="nc-icon nc-bank"></i>
                        <p>หน้าแรก</p>
                    </a>
                </li>

                <li class="">
                    <a href="http://127.0.0.1:8000/buy/buydatatables">
                        <i class="nc-icon nc-single-copy-04"></i>
                        <p>จัดการข้อมูลการซื้อคืนเมล็ดพันธุ์</p>
                    </a>
                </li>

                <li class="">
                    <a href="http://127.0.0.1:8000/buy/supdatatables">
                        <i class="nc-icon nc-badge"></i>
                        <p>จัดการข้อมูลผู้ผลิต</p>
                    </a>
                </li>

                <li class="">
                    <a href="../examples/tables/quality-datatables.net.html">
                        <i class="nc-icon nc-single-copy-04"></i>
                        <p>จัดการข้อมูลคุณภาพเมล็ดพันธุ์</p>
                    </a>
                </li>

                <li class="">
                    <a href="http://127.0.0.1:8000/sell/selldatatables">
                        <i class="nc-icon nc-single-copy-04"></i>
                        <p>จัดการข้อมูลการจำหน่ายเมล็ดพันธุ์</p>
                    </a>
                </li>

                <li class="">
                    <a href="../examples/tables/cus-datatables.net.html">
                        <i class="nc-icon nc-badge"></i>
                        <p>จัดการข้อมูลลูกค้า</p>
                    </a>
                </li>

                <li class="">
                    <a href="../examples/tables/member-datatables.net.html">
                        <i class="nc-icon nc-single-copy-04"></i>
                        <p>จัดการข้อมูลสมาชิก</p>
                    </a>
                </li>


                <li class="">
                    <a href="../examples/tables/breed-datatables.net.html">
                        <i class="nc-icon nc-single-copy-04"></i>
                        <p>จัดการข้อมูลพันธุ์ข้าว</p>
                    </a>
                </li>

                <li>
                    <a href="http://127.0.0.1:8000/sell/selltimeseries">
                        <i class="nc-icon nc-chart-bar-32"></i>
                        <p>พยากรณ์ TimeSeries</p>
                    </a>
                </li>

                <li>
                    <a data-toggle="collapse" href="#pagesExamples">
                        <i class="nc-icon nc-book-bookmark"></i>
                        <p>
                            ออกแบบรายงาน
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse " id="pagesExamples">
                        <ul class="nav">
                            <li>
                                <a href="../examples/buydashboard.html">
                                    <span class="sidebar-mini-icon">DBB</span>
                                    <span class="sidebar-normal"> กราฟซื้อเมล็ดพันธุ์ข้าว </span>
                                </a>
                            </li>
                            <li>
                                <a href="../examples/selldashboard.html">
                                    <span class="sidebar-mini-icon">DBS</span>
                                    <span class="sidebar-normal"> กราฟจำหน่ายเมล็ดพันธุ์ </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>

                    <a class="navbar-brand" href="#pablo"><img
                            src="https://upload.wikimedia.org/wikipedia/th/4/4e/%E0%B8%95%E0%B8%A3%E0%B8%B2%E0%B8%81%E0%B8%A3%E0%B8%A1%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%82%E0%B9%89%E0%B8%B2%E0%B8%A7.png"
                            style="width:40px; height:40px">
                        Phrae Rice Seed Center :ศูนย์เมล็ดพันธุ์ข้าวแพร่
                    </a>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <form>
                        <div class="input-group no-border">
                            <input type="text" value="" class="form-control" placeholder="Search...">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <i class="nc-icon nc-zoom-split"></i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link btn-magnify" href="#pablo">
                                <i class="nc-icon nc-layout-11"></i>
                                <p>
                                    <span class="d-lg-none d-md-block">Stats</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item btn-rotate dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="nc-icon nc-settings-gear-65"></i>
                                <p>
                                    <span class="d-lg-none d-md-block">Account</span>
                                </p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">ข้อมูลส่วนตัว</a>
                                <a class="dropdown-item" href="#">ติดต่อผู้ดูแล</a>
                                <a class="dropdown-item" href="#">ออกจากระบบ</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <!-- <div class="panel-header">

    <canvas id="bigDashboardChart"></canvas>


  </div> -->
        <div class="content">
            <div class="row">

            </div>
                <div class="col-md-12">
                                    <tbody>
                                    <img src="http://pre-rsc.ricethailand.go.th/images/image/0987.jpg" />
                                    </tbody>
                </div>

        </div>
        <footer class="footer footer-black  footer-white ">
            <div class="container-fluid">

            </div>
        </footer>
    </div>
</div>
<!--   Core JS Files   -->
<script src="{% static 'employee/js/core/jquery.min.js' %}"></script>
<script src="{% static 'employee/js/core/popper.min.js' %}"></script>
<script src="{% static 'employee/js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'employee/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'employee/js/plugins/moment.min.js' %}"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{% static 'employee/js/plugins/bootstrap-switch.js' %}"></script>
<!--  Plugin for Sweet Alert -->
<script src="{% static 'employee/js/plugins/sweetalert2.min.js' %}"></script>
<!-- Forms Validations Plugin -->
<script src="{% static 'employee/js/plugins/jquery.validate.min.js' %}"></script>
<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
<script src="{% static 'employee/js/plugins/jquery.bootstrap-wizard.js' %}"></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="{% static 'employee/js/plugins/bootstrap-selectpicker.js' %}"></script>
<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
<script src="{% static 'employee/js/plugins/bootstrap-datetimepicker.js' %}"></script>
<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
<script src="{% static 'employee/js/plugins/jquery.dataTables.min.js' %}"></script>
<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="{% static 'employee/js/plugins/bootstrap-tagsinput.js' %}"></script>
<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{% static 'employee/js/plugins/jasny-bootstrap.min.js' %}"></script>
<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
<script src="{% static 'employee/js/plugins/fullcalendar.min.js' %}"></script>
<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
<script src="{% static 'employee/js/plugins/jquery-jvectormap.js' %}"></script>
<!--  Plugin for the Bootstrap Table -->
<script src="{% static 'employee/js/plugins/nouislider.min.js' %}"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="{% static 'employee/js/plugins/chartjs.min.js' %}"></script>
<!--  Notifications Plugin    -->
<script src="{% static 'employee/js/plugins/bootstrap-notify.js' %}"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static 'employee/js/paper-dashboard.min.js?v=2.0.1' %}" type="text/javascript"></script>
<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="{% static 'employee/demo/demo.js' %}"></script>
<script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();


      demo.initVectorMap();

    });



</script>

<script>

</script>
</body>

</html>
